# Dependencies
node_modules/

# Build outputs
dist/
build/

# Angular specific files
.angular/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and Editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
