<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedStudents()" [disabled]="!selectedStudents || !selectedStudents.length"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="right"></ng-template>
      </p-toolbar>

      <p-table 
        [value]="students" 
        [columns]="cols" 
        responsiveLayout="scroll" 
        [globalFilterFields]="['nom', 'prenom', 'email', 'specialite', 'classes']" 
        [paginator]="true" 
        [rows]="10" 
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
        [(selection)]="selectedStudents" 
        selectionMode="multiple" 
        [rowHover]="true" 
        dataKey="_id"
      >
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Manage Students</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Search..." class="w-full sm:w-auto" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="nom">First Name <p-sortIcon field="nom"></p-sortIcon></th>
            <th pSortableColumn="prenom">Last Name <p-sortIcon field="prenom"></p-sortIcon></th>
            <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="classes">Classes <p-sortIcon field="classes"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-student>
          <tr>
            <td>
              <p-tableCheckbox [value]="student"></p-tableCheckbox>
            </td>
            <td style="width: 20%;">
              <span class="p-column-title">First Name</span>
              {{ student.nom }}
            </td>
            <td style="width: 20%;">
              <span class="p-column-title">Last Name</span>
              {{ student.prenom }}
            </td>
            <td style="width: 20%;">
              <span class="p-column-title">Email</span>
              {{ student.email }}
            </td>
            <td style="width: 20%;">
              <span class="p-column-title">Classes</span>
              <ul>
                <ng-container *ngFor="let groupId of student.classe; let last = last">
                  <li>
                    <!-- Afficher les informations du groupe à partir de `groups` -->
                    <ng-container *ngFor="let group of groups">
                      <div *ngIf="group._id === groupId">
                        <!-- Afficher le niveau, la spécialité et le numéro du groupe -->
                        - {{ group.level }} {{ group.specialty }} {{ group.number }}
                      </div>
                    </ng-container>
                    <!-- Ajouter un retour à la ligne si ce n'est pas le dernier groupe -->
                    <span *ngIf="!last"></span>
                  </li>
                </ng-container>
              </ul>
            </td>
            <td>
              <div class="flex">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editStudent(student)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteStudent(student)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog [(visible)]="studentDialog" [style]="{width: '700px'}" header="Student Details" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="nom">First Name</label>
      <input id="nom" type="text" [(ngModel)]="student.nom" pInputText required>
    </div>
    <div class="p-field">
      <label for="prenom">Last Name</label>
      <input id="prenom" type="text" [(ngModel)]="student.prenom" pInputText required>
    </div>
    <div class="p-field">
      <label for="email">Email</label>
      <input id="email" type="email" [(ngModel)]="student.email" pInputText required>
    </div>
    <div class="p-field">
      <label for="password">Password:</label>
      <input id="password" type="password" [(ngModel)]="student.password" pInputText required>
    </div>
    
    <div class="p-field mt-3">
      <label for="groups">Groups:</label>
      <!-- Checkbox lists for groups -->
      <div class="flex flex-wrap">
        <ng-container *ngFor="let group of groups">
          <div class="w-1/3">
            <input type="checkbox" id="{{group._id}}" name="groups" [checked]="selectedClasses.includes(group._id)" (change)="handleGroupChange($event, group._id)">
            <label for="{{group._id}}" class="checkbox-label">{{group.level}} {{group.specialty}} {{group.number}}</label>
          </div>
        </ng-container>
      </div>
    </div>
    
    <div class="p-field mt-3 border-top">
      <h3 class="section-title">Selected Classes:</h3>
      <ul>
        <li *ngFor="let classKey of selectedClasses">{{ classKey }}</li>
      </ul>
    </div>
    <div class="p-field mt-3 border-top">

    <div class="p-field mt-3">
      <label for="photo">Photo:</label>
      <input type="file" id="photo" (change)="handlePhotoChange($event)">
    </div>
  </div>

  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveStudent()"></button>
  </ng-template>
</p-dialog>

<!-- Dialog component for confirming deletion of a student -->
<p-dialog [(visible)]="deleteStudentDialog" header="Confirm Deletion" [modal]="true" [style]="{ width: '450px' }">
  <div class="p-dialog-content">
    <p>Are you sure you want to delete {{ student.nom }} {{ student.prenom }}?</p>
  </div>
  <p-footer>
    <button type="button" pButton label="Cancel" icon="pi pi-times" class="p-button-text" (click)="deleteStudentDialog = false"></button>
    <button type="button" pButton label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="confirmDelete()"></button>
  </p-footer>
</p-dialog>

<!-- Delete Students Dialog -->
<p-dialog [(visible)]="deleteStudentsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span>Are you sure you want to delete selected students?</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteStudent(student)"></button>
    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteStudentsDialog = false"></button>
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
  </ng-template>
</p-dialog>
