<div class="grid">
    <div class="col-12">
      <div class="card profile-card">
        <h2>Teacher Profile</h2>
        <div class="profile-container">
          <div class="photo-placeholder">
            Photo doit etre ici
          </div>
          <div class="teacher-details">
            <div><strong>Nom:</strong> {{ teacherData?.nom }}</div>
            <div><strong>Prenom:</strong> {{ teacherData?.prenom }}</div>
            <div><strong>Email:</strong> {{ teacherData?.email }}</div>
            <div><strong>Role:</strong> {{ teacherData?.role }}</div>
            <div><strong>classe:</strong> {{ teacherData?.specialite }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  