<p>ad-add-users works!</p>
<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <!-- Add any buttons or actions you want here -->
          </div>
        </ng-template>
        <ng-template pTemplate="right"></ng-template>
      </p-toolbar>

      <p-table [value]="instances" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedInstances"
        selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Instance Information</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Search..." class="w-full sm:w-auto" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Name</th>
            <th>Private IP Addresses</th>
            <th>Floating IP Addresses</th>
            <th>Status</th>
            <th>Server Group</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-instance>
          <tr>
            <td>
              <p-tableCheckbox [value]="instance"></p-tableCheckbox>
            </td>
            <td>{{ instance.name }}</td>
            <td>{{ instance.private_ips }}</td>
            <td>{{ instance.floating_ips }}</td>
            <td [ngClass]="{'active-status': instance.status === 'ACTIVE', 'shutdown-status': instance.status === 'SHUTOFF'}">{{ instance.status }}</td>
            <td>{{ instance.server_group }}</td>
            <td>
              <div class="flex">
                <!-- Add any buttons or actions you want here -->
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
