.checkbox-label {
    font-weight: bold;
    margin-left: 5px; /* Ajustez la marge selon votre mise en page */
  }
  .section-title {
    font-weight: bold;
  }
  .border-top {
    border-top: 1px solid #ccc;
    padding-top: 10px; /* Optionnel : ajoute un peu d'espace au-dessus de la bordure */
  }
      