// /* src/app/demo/component/students-list/students-list.component.css */

// .student-item {
//     list-style-type: none;
//     margin-bottom: 15px;
//     border: 1px solid #ddd;
//     padding: 10px;
//     border-radius: 5px;
//     display: flex;
//     align-items: center;
//   }
  
//   .student-profile {
//     display: flex;
//     align-items: center;
//   }
  
//   .student-photo {
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
//     margin-right: 10px;
//   }
  
//   .student-details {
//     flex: 1;
//   }
.grid {
  display: flex;
  flex-direction: column;
  align-items: right;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 1600px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.button-group {
  display: flex;
  gap: 12px;
}

.students-list {
  list-style: none;
  padding: 0;
}

.student-item {
  margin: 8px 0;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.student-profile {
  display: flex;
  align-items: center;
}

.student-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 16px;
}

.student-details {
  display: flex;
  flex-direction: column;
}
