<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2" class="button-group">
            <button pButton label="Cloud" (click)="updateSelectedView('Cloud')"></button>
            <!-- Ajoutez d'autres boutons pour les autres vues si nécessaire -->
          </div>
        </ng-template>
        <ng-template pTemplate="right"></ng-template>
      </p-toolbar>

      <!-- Affichage des instances -->
      <ng-container *ngIf="instances.length > 0">
        <p-table [value]="instances" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedCloudData"
          selectionMode="multiple" [rowHover]="true" dataKey="id">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name_instance">Name <p-sortIcon field="name_instance"></p-sortIcon></th>
              <th>State</th>
              <th>Action</th>
              <th>Groupe de sécurité ajouté</th>
              <th>IP flottante ajoutée</th>
              <!-- Ajoutez d'autres colonnes nécessaires -->
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData>
            <tr>
              <td>{{ rowData.name_instance }}</td>
              <td>
                <span [ngClass]="{'text-green-500': rowData.state === 'ACTIVE', 'text-red-500': rowData.state !== 'ACTIVE'}">
                  {{ rowData.state }}
                </span>
              </td>
              <td>
                <div>
                  <button pButton label="Start" (click)="startInstance(rowData.id_instance)"
                          [disabled]="rowData.state === 'ACTIVE'" class="custom-button"></button>
              
                  <button pButton label="Stop" (click)="stopInstance(rowData.id_instance)"
                          [disabled]="rowData.state !== 'ACTIVE'" class="custom-button"></button>
              
                  <button pButton label="Assign Security Group" (click)="assignSecurityGroup(rowData.id_instance)"
                          class="custom-button"></button>
              
                  <button pButton label="Assign Floating IP" (click)="assignFloatingIp(rowData.id_instance)"
                          class="custom-button"></button>
              </div>
              
              </td>
              <td>{{ securityGroupAdded }}</td>
              <td>{{ floatingIpAdded }}</td>
              <!-- Affichez d'autres données nécessaires -->
            </tr>
          </ng-template>
        </p-table>
      </ng-container>
      <ng-container *ngIf="instances.length === 0">
        <p>No instances found for this student.</p>
      </ng-container>
    </div>
  </div>
</div>
