<div class="grid">
  <div class="col-12">
    <div class="card profile-card">
      <h2>Teacher Profile</h2>
      <div class="profile-container">
        <div class="profile-container">
          <div class="photo-placeholder">
            <img [src]="getTeacherPhotoUrl(teacherData?.photo)" alt="Teacher Photo">
          </div>
          <div class="teacher-details">
            <div><strong>Nom:</strong> {{ teacherData?.nom }}</div>
            <div><strong>Prénom:</strong> {{ teacherData?.prenom }}</div>
            <div><strong>Email:</strong> {{ teacherData?.email }}</div>
            <div><strong>Classes:</strong></div>
            <ul>
              <li *ngFor="let groupId of teacherData?.classes">
                {{ formatClasses([groupId]) }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
